<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.governancesync.mapper.NodeInfoMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.governancesync.model.NodeInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="node_rank" jdbcType="INTEGER" property="nodeRank" />
    <result column="current_stake" jdbcType="VARCHAR" property="currentStake" />
    <result column="progress" jdbcType="VARCHAR" property="progress" />
    <result column="detail_url" jdbcType="VARCHAR" property="detailUrl" />
    <result column="node_index" jdbcType="BIGINT" property="nodeIndex" />
    <result column="public_key" jdbcType="VARCHAR" property="publicKey" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="init_pos" jdbcType="BIGINT" property="initPos" />
    <result column="total_pos" jdbcType="BIGINT" property="totalPos" />
    <result column="max_authorize" jdbcType="VARCHAR" property="maxAuthorize" />
    <result column="node_proportion" jdbcType="VARCHAR" property="nodeProportion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, node_rank, current_stake, progress, detail_url, node_index, public_key, 
    address, status, init_pos, total_pos, max_authorize, node_proportion
  </sql>
  <select id="selectByExample" parameterType="com.github.ontio.governancesync.model.NodeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.github.ontio.governancesync.model.NodeInfoExample">
    delete from t_node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.github.ontio.governancesync.model.NodeInfo">
    insert into t_node_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nodeRank != null">
        node_rank,
      </if>
      <if test="currentStake != null">
        current_stake,
      </if>
      <if test="progress != null">
        progress,
      </if>
      <if test="detailUrl != null">
        detail_url,
      </if>
      <if test="nodeIndex != null">
        node_index,
      </if>
      <if test="publicKey != null">
        public_key,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="initPos != null">
        init_pos,
      </if>
      <if test="totalPos != null">
        total_pos,
      </if>
      <if test="maxAuthorize != null">
        max_authorize,
      </if>
      <if test="nodeProportion != null">
        node_proportion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nodeRank != null">
        #{nodeRank,jdbcType=INTEGER},
      </if>
      <if test="currentStake != null">
        #{currentStake,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null">
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="nodeIndex != null">
        #{nodeIndex,jdbcType=BIGINT},
      </if>
      <if test="publicKey != null">
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="initPos != null">
        #{initPos,jdbcType=BIGINT},
      </if>
      <if test="totalPos != null">
        #{totalPos,jdbcType=BIGINT},
      </if>
      <if test="maxAuthorize != null">
        #{maxAuthorize,jdbcType=VARCHAR},
      </if>
      <if test="nodeProportion != null">
        #{nodeProportion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.ontio.governancesync.model.NodeInfoExample" resultType="java.lang.Long">
    select count(*) from t_node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_node_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeRank != null">
        node_rank = #{record.nodeRank,jdbcType=INTEGER},
      </if>
      <if test="record.currentStake != null">
        current_stake = #{record.currentStake,jdbcType=VARCHAR},
      </if>
      <if test="record.progress != null">
        progress = #{record.progress,jdbcType=VARCHAR},
      </if>
      <if test="record.detailUrl != null">
        detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeIndex != null">
        node_index = #{record.nodeIndex,jdbcType=BIGINT},
      </if>
      <if test="record.publicKey != null">
        public_key = #{record.publicKey,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.initPos != null">
        init_pos = #{record.initPos,jdbcType=BIGINT},
      </if>
      <if test="record.totalPos != null">
        total_pos = #{record.totalPos,jdbcType=BIGINT},
      </if>
      <if test="record.maxAuthorize != null">
        max_authorize = #{record.maxAuthorize,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeProportion != null">
        node_proportion = #{record.nodeProportion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_node_info
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      node_rank = #{record.nodeRank,jdbcType=INTEGER},
      current_stake = #{record.currentStake,jdbcType=VARCHAR},
      progress = #{record.progress,jdbcType=VARCHAR},
      detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      node_index = #{record.nodeIndex,jdbcType=BIGINT},
      public_key = #{record.publicKey,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      init_pos = #{record.initPos,jdbcType=BIGINT},
      total_pos = #{record.totalPos,jdbcType=BIGINT},
      max_authorize = #{record.maxAuthorize,jdbcType=VARCHAR},
      node_proportion = #{record.nodeProportion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.ontio.governancesync.model.NodeInfo">
    update t_node_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nodeRank != null">
        node_rank = #{nodeRank,jdbcType=INTEGER},
      </if>
      <if test="currentStake != null">
        current_stake = #{currentStake,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null">
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="nodeIndex != null">
        node_index = #{nodeIndex,jdbcType=BIGINT},
      </if>
      <if test="publicKey != null">
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="initPos != null">
        init_pos = #{initPos,jdbcType=BIGINT},
      </if>
      <if test="totalPos != null">
        total_pos = #{totalPos,jdbcType=BIGINT},
      </if>
      <if test="maxAuthorize != null">
        max_authorize = #{maxAuthorize,jdbcType=VARCHAR},
      </if>
      <if test="nodeProportion != null">
        node_proportion = #{nodeProportion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.github.ontio.governancesync.model.NodeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>